body {

	font-family: 'Open Sans', sans-serif;

}

strong { font-weight: bold; }


.header {

	background: url('../images/bg-3.jpg') center center;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 35px;
}

.header .logo-header {

	width:50px;
    height: auto;
    margin: 0 auto;
}

.header .headline {

	text-transform: uppercase;
	font-size: 46px;
	text-align: center;
	text-shadow: 2px 2px 1px #222; 
	color:white; 
	margin-top: 80px
}
.header .call-to-action {

	text-align: center;
	padding-top: 15px;
}

.header .subtitle {

	color: white;
	font-size: 22px;
	text-align: center;
	text-shadow: 2px 2px 1px #222; 
	padding-top: 20px;
}

.header .btn-prueba {

	margin:50px auto;
}

.intro {

	background: rgb(49, 176, 213);

}

.intro .headline {

	font-size: 40px;
	text-align: center;
	color:white; 
	margin-top: 80px

}

.intro .subtitle {

	color: white;
	font-size: 22px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 80px;

}

.main .hr-headline {

	border-top:dashed #eee; 
	margin:50px 0 50px 0;
}

.main .headline {

	text-align: center;

}

.main h3 {
	text-align: left;
	margin-bottom: 20px;
}

.partners .headline {

	font-size: 40px;
	text-align: center;
	color:black; 
	margin-top: 0px;
	margin-bottom: 50px;
}

.partners .logo-partner {

	max-width:100px;
    max-height: 100px;
    margin: 0 auto;

}

.footer {

	background-color: gray;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer .det {
	font-size: 12px;
	color:white;
}

h4 {

	text-align: center;

}

.hacker .hackertext {
	margin-bottom: 50px;

}


.hacker img {

	position:relative;
	left: 100px;
}

.logo-der {

	float:right;
}

.logo-cent {

float: right;
position: relative;
left: -50%;
text-align: left;
}

.logo-cent > .child {

}

.logo-izq {

	float:left;
}

.logoforv {
    position: fixed;
    top: 3%;
    right: 50%;
}